.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

php_errors.log

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*


## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
*.htaccess
/tests/tests/
/tests/results/
bootstrap-4.1.3-dist.zip
user_guide/*
tests/*
application/cache/*
application/core/*
application/helpers/*
application/hooks/*
application/language/english/*
application/libraries/*
application/logs/*
application/third_party/*
system/*
contributing.md
license.txt
readme.rst
application/language/index.html
application/models/index.html
application/views/index.html
application/views/errors/*
css/bootstrap*
js/bootstrap*
js/jquery*
application/config/smileys.php
application/config/user_agents.php
application/config/index.html
application/config/memcached.php
application/config/migration.php
application/config/mimes.php
application/config/profiler.php
application/config/autoload.php
application/config/doctypes.php
application/config/foreign_chars.php
application/config/hooks.php
images/products/*
